/* Général */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f8f9fc;
    color: #343a40;
}

/* SIDEBAR */
#sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 280px;
	height: 100%;
	background: var(--light);
	z-index: 2000;
	font-family: var(--lato);
	transition: .3s ease;
	overflow-x: hidden;
	scrollbar-width: none;
}
#sidebar::--webkit-scrollbar {
	display: none;
}
#sidebar.hide {
	width: 60px;
}
#sidebar .brand {
	font-size: 24px;
	font-weight: 700;
	height: 56px;
	display: flex;
	align-items: center;
	color: var(--blue);
	position: sticky;
	top: 0;
	left: 0;
	background: var(--light);
	z-index: 500;
	padding-bottom: 20px;
	box-sizing: content-box;
}
#sidebar .brand .bx {
	min-width: 60px;
	display: flex;
	justify-content: center;
}
#sidebar .side-menu {
	width: 100%;
	margin-top: 48px;
}
#sidebar .side-menu li {
	height: 48px;
	background: transparent;
	margin-left: 6px;
	border-radius: 48px 0 0 48px;
	padding: 4px;
}
#sidebar .side-menu li.active {
	background: var(--grey);
	position: relative;
}
#sidebar .side-menu li.active::before {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	top: -40px;
	right: 0;
	box-shadow: 20px 20px 0 var(--grey);
	z-index: -1;
}
#sidebar .side-menu li.active::after {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	bottom: -40px;
	right: 0;
	box-shadow: 20px -20px 0 var(--grey);
	z-index: -1;
}
#sidebar .side-menu li a {
	width: 100%;
	height: 100%;
	background: var(--light);
	display: flex;
	align-items: center;
	border-radius: 48px;
	font-size: 16px;
	color: var(--dark);
	white-space: nowrap;
	overflow-x: hidden;
}
#sidebar .side-menu.top li.active a {
	color: var(--blue);
}
#sidebar.hide .side-menu li a {
	width: calc(48px - (4px * 2));
	transition: width .3s ease;
}
#sidebar .side-menu li a.logout {
	color: var(--red);
}
#sidebar .side-menu.top li a:hover {
	color: var(--blue);
}
#sidebar .side-menu li a .bx {
	min-width: calc(60px  - ((4px + 6px) * 2));
	display: flex;
	justify-content: center;
}
/* SIDEBAR */
.logout {
    color: #f44336; /* Rouge */
}

#content-wrapper {
    margin-left: 250px;
    padding: 20px;
    background-color: #fff;
    min-height: 100vh;
}

h1, h6 {
    color: #4caf50; /* Vert */
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.card-header {
    background-color: #4caf50; /* Vert */
    color: #fff;
    padding: 15px;
    font-weight: bold;
}

.card-body {
    padding: 20px;
}

.table th {
    background-color: #4caf50; /* Vert */
    color: #fff;
}

.table td, .table th {
    text-align: center;
    vertical-align: middle;
}

.table a {
    text-decoration: none;
    color: #4caf50; /* Vert */
    font-weight: bold;
    transition: all 0.3s ease;
}

.table a:hover {
    text-decoration: underline;
}

.btn-primary {
    background-color: #4caf50; /* Vert */
    border: none;
}

.btn-warning {
    background-color: #ffc107;
    border: none;
}

/* Scroll-to-top */
.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #4caf50; /* Vert */
    color: #fff;
    border-radius: 50%;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.scroll-to-top:hover {
    background-color: #3e8e41;
}
